
*, *:before, *:after {
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    width:100vw;
    width:auto;
    display:flex;
    flex-direction:column;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Arial, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Banner */
.banner{
    min-height: 2rem;
    width:100%;
    display:flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    background-color: #141414;
  
}
.banner a{
    color:#ffffff;
}

/* Header */
.navbar{
    min-height: 80px;
    width:100%;
    display:flex;
    border-bottom: 1px solid;
    justify-content: center;
    align-items: center;
    border-bottom-color:#D3D3D3;
    margin: 0 auto;
}

.nav-menu{
    display:flex;
    gap:60px;
}
.nav-branding{
    padding: 0 25px;
    display:flex;
    font-size: 2rem;
    color:#3b3b3b;
}
.navbar > ul {
    display:flex;
    gap: 20px;
   
}
.nav-link{
    transition: 0.7s ease;
}
.navbar a{
    color: #3b3b3b;
    text-decoration: none;
}
 .nav-link:hover{
    transition: 0.7s ease;
    font-weight: 800;
    text-decoration: underline solid #141414;
    color:#303030;
}
li{
    list-style-type: none;
}
/* Hamburger */
.hamburger{
    display:none;
    cursor:pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:#3b3b3b
}

/* Section */
section{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.traditional{
    display:flex;
    min-height: 400px;
    min-width: 500px;
    background-color: #D3D3D3;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}
.exotic{
    display:flex;
    min-height: 400px;
    min-width: 500px;
    background-color: #D3D3D3;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}
.trad-btn{
    font-weight: bold;
    font-size: small;
    width:60%;
    opacity:.75;
    min-height:40px;
}
.exotic-btn{
    font-weight: bold;
    font-size: small;
    width:60%;
    min-height:40px;
    opacity:.75;
}
/* banner */
.short-story{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
    background-color: #303030;
    height:400px;
    width:100%;
    justify-content: center;
    align-items: center;
}
.short-story h2, h3{
    font-size: 2rem;
    display: flex;
    color: #ffffff;
}
/* gallery */
.gallery-container{
    display:flex;
    margin: 20px;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.image{
    min-width: 150px;
    min-height: 150px;
    background-color: #3b3b3b;
}
/* Footer */
footer{
    display:flex;
    padding: 25px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: auto;
    gap:100px;
    color:#ffffff;
    background-color: #141414;
  
}
footer a{
    text-decoration: none;
    color:#ffffff;
}
.contact-content{
    display:flex;
    flex-direction: column;
    gap:10px;
}

@media(max-width:1024px){
    .hamburger{
        display:block;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        right:-100%;
        padding-left: 20px;
        height:100%;
        top:0;
        width: 35%;
        text-align: left;
        transition: 0.3s;
        opacity:0.85;
        background-color: #ffffff;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        right:0;
       
    }
    .nav-item a{
        color:#141414;
    }
    .nav-link:hover{
        font-weight: 800;
        text-decoration: underline solid #141414;
        color: #141414;
    }
    section{
        display: grid;
        grid-template-columns: auto;
    }
    footer{
        display: grid;
        justify-items: start;
        grid-template-columns: auto;
    }
    .noScroll{
        overflow: hidden;
    }
}